# Arquivos temporários e de log
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Arquivos de sistema
*.swp
*.swo
*.DS_Store
.byebug_history
.pry_history

# SQLite (se estiver usando)
*.sqlite3
*.sqlite3-journal

# Arquivos de credenciais ou configs locais
/config/master.key
/config/credentials.yml.enc
.env
.env.*

# Bundler
/.bundle
/vendor/bundle

# Node (se usar Webpacker ou JS no projeto)
/node_modules
/yarn-error.log

# Cobertura de testes
/coverage/
/spec/tmp/*
/spec/reports/*
