# Arquivos temporários e de log
*.log
*.tmp
*.swp
*.swo
*.DS_Store

# Bundler
/.bundle
/vendor/bundle

# Gems compiladas
*.gem
.node_modules
# Arquivos de cobertura de testes
/coverage/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp

# Byebug / Pry
.byebug_history
.pry_history

# Configurações locais
.env
.env.local
